
<h1>Carrito</h1>
{{!-- <div>
    <ul>
        {{#each cart.products}}
        <li>
            {{this.product_id.tile}} - Cantidad {{this.quantity}}
        </li>
        {{#each}}
    </ul>
</div> --}}

<tbody id="tbody">
        {{#each cart.products}}
        <tr class="table-primary">
            <th scope="row"></th>
            <td>{{this.product_id.tile}}</td>
            <td>Cantidad {{this.quantity}}</td>
        </tr>
        {{/each}}
    </tbody>
