<form action="/api/session/register" method="post">
  First name:
  <input type="text" name="first_name" required /><br />
  Last name:
  <input type="text" name="last_name" required /><br />
  Age:
  <input type="number" name="age" required /><br />
  Email:
  <input type="email" name="email" required /><br />
  Pass:
  <input type="password" name="password" required /><br />
  <hr />
  <button type="submit">Register</button>
</form>

<a href="/login">¿Ya tenes cuenta? Inicia Sesion</a>